<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.wozniakbartlomiej.receipt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".ReceiptResources"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Activities.AddEventActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithBar" />
        <activity
            android:name=".Activities.UserEventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EventBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddReceiptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ReceiptEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EventFromQrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EventQrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EventReceiptsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>